<div class="container text-center py-4 bg-body-secondary">
  <h1 class="display-5 fw-bold">Job Details Register</h1>
</div>

<div class="container d-flex justify-content-center align-items-center">
  <div class="row w-75">
    <div class="col-md-6 p-3">
      <div class="border p-4 rounded bg-white shadow">
        <app-job-form (jobCreated)="onJobCreated($event)" (jobUpdated)="onJobUpdated($event)"></app-job-form>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <div class="border p-4 rounded bg-white shadow">
        <app-job-list (jobEdit)="onJobEdit($event)"></app-job-list>
      </div>
    </div>
  </div>
</div>